@import "tailwindcss";

:root {
  --font-size: 0.875rem;
  --background: #fbfbfb;
  --foreground: #21272a;

  --filter-blue: brightness(0) saturate(100%) invert(49%) sepia(53%) saturate(5471%) hue-rotate(203deg) brightness(80%) contrast(103%);

  --gradient-border: linear-gradient(
    90deg,
    rgba(193, 199, 205, 0) 0%,
    rgba(193, 199, 205, 1) 20%,
    rgba(193, 199, 205, 1) 80%,
    rgba(193, 199, 205, 0) 100%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-size: var(--font-size);
  font-family: Roboto, Helvetica, sans-serif;
}
